@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    color: #fff;
    height: 100%;
    background-image: url('/assets/background.jpg'); /* Ruta relativa a tu imagen */
    background-size: cover;
  }