<!DOCTYPE html>
<html>
<head>
    <title>/ALL_IECI</title>
    <!-- Otros elementos del head como enlaces a hojas de estilo, etc. -->
</head>
<body style="flex items-center">
    <!-- Mensajes de alerta y aviso -->
    <%= alert %>
    <%= notice %>

    <!-- Contenido principal -->
    <div style="text-align: center; font-family: 'Ubuntu Monospace', monospace; color: white; padding-top: 160px;">
        <h1 style="font-size: 6em;">/ALL_IECI</h1>
        <h4 style="font-size: 1em;">¡Bienvenido a la página de inicio!</h4>

        <!-- Botones -->
        <div style="padding-top: 20px;">
            <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded" onclick="window.location.href='users/sign_in'">Iniciar sesión</button>
            <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded" onclick="window.location.href='users/sign_up'">Registrarse</button>
        </div>
    </div>
</body>
</html>
