@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-image: radial-gradient(at left bottom, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42));
    font-family: 'Font Mono', monospace;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
}

.container {
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 100px);
}

#terminal-container {
    width: 100%;
    min-height: 50px;
    height: 75vh;
    display: flex;
}

.sidebar {
    width: 25%;
    background-color: white;
    border-radius: 6px;
    margin: 6px;
    padding: 10px;
    height: calc(80vh);
    overflow-y: auto;
}

.main-container {
    width: 75%;
    height: calc(80vh);
    background-color: white;
    border-radius: 6px;
    margin: 6px;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilos comunes para todos los botones en el sidebar */
.sidebar button, .sidebar .sidebar-btn {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: calc(100% - 20px);
  margin: 10px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
}

/* Estilo para el estado hover de todos los botones en el sidebar */
.sidebar button:hover, .sidebar .sidebar-btn:hover {
  background-color: #e0e0e0;
}

/* Estilo para el estado activo de los botones */
.sidebar button.active, .sidebar .sidebar-btn.active {
  background-color: #ab11ed;
}
.dropdown-content, .submenu-content {
    display: none;
    /* Otros estilos como fondo, color, etc. */
}

.dropdown-content.show, .submenu-content.show {
    display: block;
}
.submenu-btn {
  margin-left: 15px; /* Indentación para botones de semestre */
}

.asignatura-link {
  margin-left: 30px; /* Mayor indentación para enlaces de asignaturas */
}