<head>
  <script src="/assets/terminal.js" data-turbo-track="reload"></script>
  <%= render "shared/header" %>
  <%= render "shared/basicnavbar" %>
</head>
<div class="container mt-10">
  <div class="content">
    <div id="terminal-container"></div>
  </div>
</div>
