<head>
  
  <script src="/builds/terminal.js" data-turbo-track="reload"></script>

<%= render "shared/header" %>
<%= render "shared/basicnavbar" %>
</head>
<div>
  <div class="container mt-10">
    <div class="content">
      <div style="padding: 15px;">
        <div id="terminal-container"></div>
      </div>
    </div>
  </div>
</div>
