<head>
    <%= javascript_include_tag 'terminal', 'data-turbo-track': 'reload' %>
</head>
<%= render 'shared/headeralumno' %>
<div>
    <div class="container mt-10">
        <div class="content">
            <div style="padding: 15px;">
                <div id="terminal-container"></div>
            </div>
        </div>
    </div>
</div>

